.TableToolbar{
  display: flex;
}

.SelectorItemsPerPage{
  height: 38px;
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.SelectorItemsPerPage__selector{
  margin: 0 10px;
  height: 38px;
}
